.error_page
  position: relative
  height: 100vh
  .err-page-part
    height: 100%
    display: inline-block
    position: relative
    &.left-part
      width: 60%
      background: $black
      
      .head-title
        color: $orange
        font-size: 240px
        font-weight: 700
        +y-align
        right: 100px

    &.right-part
      width: 40%
      background: $orange
      position: relative
      
      .inner
        color: $white
        +y-align
        left: 100px
       
        .title
          text-transform: uppercase
          font-size: 24px
          font-weight: 700
        p
          font-size: 16px
          line-height: 1.5
          padding: 30px 0
          width: 400px
          max-width: 100% 
        .button-download
          background: transparent
          border: 2px solid $white
          span
            color: $white
          &:hover
            border: 2px solid $black
            // span
            //   color: $black
    .bg-pattern
      top: initial
      height: 20%
      bottom: 0
    +breakpoint(medium down)
      display: block
      &.left-part, &.right-part
        height: 50%
        width: 100%
      .bg-pattern
        top: 0
        width: 20%
        height: 100%
    +breakpoint(medium only)
      .head-title, .inner
        +x-align
        right: initial
        top: 200px
      .inner
        top: 100px
    
    +breakpoint(small only)
      &.left-part
        .head-title
          +xy-align
          font-size: 140px 
          right: initial
      &.right-part
        .inner
          +xy-align
          padding-left: 40px

          

      
