.footer
  background: $black
  // margin-top: 50px
  overflow: hidden
  .inner-contacts
    // padding-bottom: 50px
    padding-top: 50px
    p
      color: $white
      line-height: 1.5
      padding: 20px 0 50px
    .title
      text-transform: uppercase
      color: $orange
      font-size: 16px
      font-weight: 700
      letter-spacing: 1px
    .orange-line
      margin: 10px 0 20px
      width: 93px
    .sub_title
      color: $white
      font-size: 16px
      display: block
      line-height: 1.5
      letter-spacing: 1px
      span
        color: $orange
      &:last-child
        padding-top: 10px
    +breakpoint(small only)
      width: 200px

  .info-footer
    color: $white
    background: $orange
    padding: 50px
    position: relative
    &:before
      content: ""
      position: absolute
      bottom: -199px
      left: 0
      right: 0
      background-color: $orange
      width: 100%
      height: 200px
      background-image: url(#{asset_path('pattern.png')})
      // display: none
    &:after
      content: ""
      position: absolute
      background: $orange
      top: 0
      right: -399px
      width: 400px
      height: calc(100% + 200px)
      display: none
    .title
      font-size: 24px
      text-transform: uppercase
      letter-spacing: 1px
      padding-bottom: 20px
      font-weight: 700
    .sub_title
      font-size: 14px
      line-height: 1.5
      color: rgba($white,0.7)
    .input-box
      margin: 40px 0 0 0
      .button-send
        margin-top: 40px
    +breakpoint(medium only)
      padding: 10px
      .button-download
        span
          font-size: 11px
    +breakpoint(xlarge down)
      &:before, &:after
        display: block
    +breakpoint(small only)
      &:before, &:after
        display: none


  .sub-footer
    border-top: 1px solid rgba(#ededed, 0.2)
    color: rgba($white,0.7)
    padding: 25px 0
    font-size: 12px
    .inner-footer
      position: relative
      top: -10px

      svg
        width: 25px
        fill: $orange
      span
        vertical-align: super
        padding-left: 10px

    +breakpoint(small only)
      margin-top: 20px
      .inner-footer
        top: 0

    

