form
  // position: relative
  // padding: 30px
  // @media #{$small-only}
  //   margin-top: 80px
  // &.contact-form
  //   background: $grey100
  //   border: 1px solid $grey200
  

.input-field
  position: relative
  input, textarea
    padding: 10px 
    display: block
    width: 100%
    border: none
    outline: none
    background-color: transparent
    text-transform: capitalize
    border: 1px solid black
    &:focus
      outline: none
.phone_drop_down
  .input-field
    input
      color: white
      padding: 10px 20px 10px 0
      outline: none
      border: none
      background: transparent
      margin-left: 0
      border-bottom: 1px solid $white
    label
      color: $white
      top: 10px
      font-size: 14px
      position: absolute
      width: 100%
      left: 0
      pointer-events: none
    textarea 
      font-family: inherit
      display: block
      width: 100%
      padding: 10px 0 10px
      border: none
      outline: none
      background-color: transparent
      text-transform: capitalize
    input:focus ~ label, input.used ~ label
      top: -10px
      font-size: 12px
      color: $orange
    svg
      position: absolute
      top: 10px
      left: -27px
      width: 16px
      +transition(0.25s)
    input:focus ~ svg, input.used ~ svg
      path
        fill: $orange

    .bar
      position: relative
      display: block
      width: 100%
      &:before, &:after
        content: ''
        height: 1px
        width: 0
        bottom: 0
        position: absolute
        background: $orange
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)

      &:before
        left: 0
    input:focus ~ .bar, input.used ~ .bar
      &:before
        width: 100%
        background: $orange
        z-index: 12
