.header-container
  position: fixed
  
  width: 100%
  +transition-property(transform)
  +transition-duration(1s)
  +translate(0,-100%)
  z-index: 1100
  .main-holder
    padding: 16px 30px
    position: relative
    background: $black
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    z-index: 99999
  &.scrolled, &.visible
    +translate(0,0)
  .language-box
    margin: auto 0
    padding-left: 50px
  .bm-logo, .right-part
    align-self: center
    display: inline-block
  .right-part
    margin-left: auto
    display: inline-block
  .phone
    display: inline-block
    margin: 0 40px
    cursor: pointer
    
    svg
      fill: $white
      +transition(.5s)
    &.active
      svg
        fill: $orange
    &:hover
      svg
        fill: $orange
    +breakpoint(small only)
      margin: 0
  .drop_down_menu
    padding-right: 20px
    display: inline-block
    color: $white
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 2px
    cursor: pointer
    position: relative
    padding-left: 20px
    // +transition(.5s)
    .svg_arrow
      display: inline-block
      svg
        +transition(.5s)
        fill: $white
        position: relative
        top: 7px
        right: -5px
    &:before, &:after
      +transition(.5s)
    &:hover
      color: $orange
      .svg_arrow
        svg
          fill: $orange
    &.active
      background: $orange
      
      &:hover
        color: $white
        .svg_arrow
          svg
            fill: $white
      &:before, &:after
        content: ""
        position: absolute
        background: $orange
        left: 0
        right: 0
        height: 35px
      &:before
        top: -32px
      &:after
        bottom: -32px

      .svg_arrow
        svg
          transform: rotate(180deg)
  +breakpoint(xlarge down)
    .main-holder
      padding: 7px 30px
    .bm-logo
      svg
        width: 60px
    .right-part
      .drop_down_menu
        font-size: 14px
        bottom: 5px

        &.active
          &:before, &:after
            height: 28px

          &:before
            top: -28px
          &:after
            bottom: -28px

        .svg_arrow
          svg
            width: 20px
            

      // .hamburger
      //   .hamburger-box
        // &.active
        //   .hamburger-box
        //     .hamburger-inner
        //       &:after, &:before
        //         top: 0
          
          // &:after
          //   top: -16px
          // &:before
          //   top: -8px
          
            
          
          


  +breakpoint(small only)
    padding: 5px 15px
    .bm-logo
      svg
        width: 50px
    .language-box
      padding-left: 30px
      font-size: 14px
    .drop_down_menu
      display: none
    .hamburger
      padding: 15px 0
    .phone
      position: relative
      top: 3px
      right: 30px

        

.hamburger-inner
  width: 30px
  height: 3px
  border-radius: 0
  &:before, &:after
    width: 30px
    height: 3px
    border-radius: 0