.about-company-wrap
  p
    font-size: 14px
    color: $white

.download-wrap
  position: relative
  padding: 50px 0
  .inner
    width: 400px
    margin: auto
    text-align: center
    max-width: 100% 
    .title
      font-weight: 700
      text-transform: uppercase
      font-size: 28px
    .discretion
      padding: 10px 0 20px
      color: rgba($black, 0.7)


.catalog-page
.header-page
  background: $orange
  text-align: center
  position: relative
  padding: 140px 0 60px
  .sub-title
    font-weight: 700
    font-size: 16px
    position: relative
    &:before
      content: "\203A"
      position: absolute
      display: inline-block
      font-size: 20px
      top: -5px
      right: -15px
      font-weight: 500

  .section-header
    color: $white
    padding-top: 20px
    letter-spacing: 4px
    ul.breadcrumb
      letter-spacing: 0
      li
        font-size: 12px
        text-transform: none

        &:hover
          color: black
        



ul.breadcrumb
  li
    position: relative
    display: inline
    font-size: 12px
    font-weight: 500
    +transition(.3s)
    &:after
      padding: 8px
      color: $black
      content: "\203A"
      display: inline-block
      font-size: 14px
    .breadcrumb-tag
      color: $black
    &:last-child
      &:after
        display: none
      .breadcrumb-tag
        color: $white


    &:hover
      color: white

  +breakpoint(small only)
    display: none


.phone_drop_down
  position: fixed
  width: 300px
  top: 70px
  right: 0
  z-index: 1
  +translate(0,-132%)
  +transition(0.5s)
  +animation-timing-function(cubic-bezier(0.86, 0, 0.07, 1))
  box-shadow: 0 2px 4px rgba(0,0,0,0.2)
  overflow: hidden
  +breakpoint(small only)
    top: 68px
    width: 100%
  +breakpoint(xxlarge only)
    top: 90px
  &.active
    +translate(0,0)
  .call-us-container
    padding: 30px 50px 
    color: white
    background: $black
    .title 
      margin-bottom: 10px
      position: relative
      span
        padding-right: 5px
        position: absolute
        left: -27px
        top: -1px
        width: 20px
        height: 20px
        svg
          fill: $white
          width: 20px
          height: 20px
    .number
      display: block
      line-height: 1.5
      +transition(.5s)
      &:hover
        color: $orange
  .button-download
    position: relative
    z-index: 10
    +transition(.3s)
    width: 100%
    &:hover
      span
        color: $black

      
  .success
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 0
    background-color: $orange
    z-index: 5
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    +translate(0,100%)
    +transition(1s)
    svg
      width: 50px
      height: 50px
      margin-bottom: 50px
    p
      color: $white
      font-weight: 700
      &:last-child
        padding-top: 10px
        font-weight: 400
        font-size: 14px
        opacity: 0.7
    &.visible
      +translate(0,0)
      height: 100%
      z-index: 11
      top: 2px
      

  .leave-ur-number-container
    background: $black
    padding: 30px 50px 
    position: relative
  .button-download
    background: $orange
    border: none
    display: block
    text-align: center
    line-height: 3
    span
      color: $white

    &:hover
      background: $orange
      border: none

.popup_call
  .title
    font-size: 24px
    text-transform: uppercase
    letter-spacing: 1px
    // padding-bottom: 20px
    font-weight: 700
  .sub_title
    font-size: 14px
    line-height: 1.5
    color: rgba($black,0.7)
    padding-bottom: 20px

.input-box
  position: relative
  input
    padding: 10px 0 5px 40px
    border: 2px solid $black
    background: transparent
  svg
    position: absolute
    top: 0
    left: 0
    bottom: 0
    fill: $white
    background: $black
    height: 35px
    width: 35px
    padding: 8px


