// .popup-wrapper

//   position: fixed
//   width: 100%
//   height: auto
//   min-height: 100vh
//   background: rgba($brown900, .97)
//   z-index: 9999
//   opacity: 0
//   pointer-events: none
//   +transition(0.25s)

//   .close-popup
//     position: absolute
//     top: 30px
//     right: 30px
//     width: 20px
//     height: 20px
//     cursor: pointer
//     svg
//       width: 100%
//       height: 100%
//       fill: $brown200
//     &:hover
//       svg
//         fill: #F8F7F3

.popup_advince, .popup_call
  position: fixed
  width: 100%
  height: 100%
  background: rgba($black, 0.9)
  z-index: 9999
  opacity: 0
  pointer-events: none
  +transition(.25s)
  &.active
    opacity: 1
    pointer-events: initial
  .close-popup
    background: $orange
    padding: 5px
    width: 50px
    height: 50px
    cursor: pointer
    position: absolute
    right: 50px
    top: -20px
    z-index: 100
    svg
      fill: $white
      +rotate(45deg)
      +centered-inside
      +transition(.5s)
    &:hover
      svg
        +rotate(135deg)



.be_mannager_popup
  +xy-align
  position: fixed
  z-index: 99999
  color: $white
  background: $orange
  padding: 50px
  opacity: 0
  pointer-events: none
  +transition(.25s)
  &.active
    opacity: 1
    pointer-events: initial

  &:before
    content: ""
    position: absolute
    // bottom: -199px
    bottom: 0
    left: 0
    right: 0
    background-color: $orange
    width: 100%
    height: 75px
    background-image: url(#{asset_path('pattern.png')})

  .close-popup
    width: 50px
    height: 50px
    cursor: pointer
    position: absolute
    right: 5px
    top: 0
    z-index: 100
    svg
      fill: $white
      height: 20px
      +rotate(45deg)
      +centered-inside
      +transition(.5s)
    &:hover
      svg
        +rotate(135deg)


  .title
    font-size: 24px
    text-transform: uppercase
    letter-spacing: 1px
    padding-bottom: 10px
    font-weight: 700
  .sub_title
    font-size: 14px
    line-height: 1.5
    color: rgba($white,0.7)
    margin-bottom: 20px

  .input-box
    margin-bottom: 20px