.about-us-wrap
  .banner-inner-page
    .img-bg style="background-image: url(#{@about_page_info.banner_image.url})"
    .bg-pattern
    .inner
      .name-page
        = @about_page_info.banner_label
      .title
        = @about_page_info.banner_title
      p.sub-title
        = @about_page_info.banner_subtitle
      a.catalog-download-box href="/"
        = inline_svg "svg/pdf-icon.svg"
        p каталог продукції

.about-info
  .row
    .medium-3.columns
      .logo = inline_svg "svg/logo-b.svg"
    .medium-9.columns
      .description.about-us
        = raw @about_page_info.intro
      - if @features.try(:any?)
        .info-figures-box
          .row
            - @features.each do |feature|
              .large-3.medium-6.columns
                .figure
                  = feature.title
                .orange-line.desktop
                p
                  = raw feature.subtitle


.about-us-slider-wrap
  .title-square
    .title
      = @about_page_info.slider_label
  .slider-button-box
    .prev-slide.about-us = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
    .next-slide.about-us = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"
  ul.about-us-slider
    - @slides.each do |slide|
      li
        .image-box
          .main_baner_gradient_layer
          .img-bg style="background-image: url(#{slide.image.url})"

        .inner-slider
          p
            = slide.name


- if @cases.try(:any?)
  .about-production
    .component-header
      = @about_page_info.apply_title
    .row.columns-left
      - @cases.each do |apply_case|
        - case_url = apply_case.linkable.try(:url)
        - case_url = nil if case_url.blank?
        - case_name = apply_case.name
        - case_name = apply_case.linkable.try(:name) if case_name.blank?
        - case_short_description = apply_case.short_description
        - case_short_description = apply_case.linkable.try(:short_description) if case_short_description.blank?

        .large-6.columns
          .about-production-block
            .img-container
              .img-bg style="background-image: url(#{apply_case.image.url})"
              p.title
                = raw case_name
              p
                = case_short_description
            a.hover-block href=case_url
              .bg-pattern

              .btn
                |переглянути товар
                span
                  = inline_svg "svg/plus.svg"



.certificates-wrap
  .component-header
    = @about_page_info.certificates_title
  .row.columns-left
    - @certificates.each do |certificate|
      .xlarge-3.large-4.medium-6.columns
        .certificates-box.animated_thumbnails

          - if certificate.document.exists?
            a.certificate-svg href=certificate.document.url
              = inline_svg "svg/pdf-icon.svg"
          .inner
            .bg-pattern
            p.title
              = certificate.name
            p
              = certificate.short_description
          
          .hover-block.lg_object style="background-image: url(#{certificate.image.url(:small)})"
            a href=certificate.image.url(:popup)
             .svg = inline_svg "svg/plus.svg"
              img src=asset_path('07.jpg')

  a.download-certificates-box href=""
    = inline_svg "svg/download.svg"
    .sub_title завантажити архівом
    span.mobile сертифікати
    span
      | 32.4 МБ


.partner-program-wrap

  .clearfix
    .floated
      .img-container
        .img-bg style="background-image: url(#{asset_path('AboutUs/orange.jpg')})"
    .floated-right
      .inner
        .sub-title
          = @about_page_info.sales_representative_label
        h3
          = raw @about_page_info.sales_representative_title
        p
          = @about_page_info.sales_representative_description
        .button-download.without-svg.button-popup
          span відправити запит

  .clearfix
    .floated-right.width
      .img-container
        .img-bg style="background-image: url(#{asset_path('AboutUs/black.jpg')})"
    .floated.width
      .inner.invert-colours
        .sub-title
          = @about_page_info.regional_representative_label
        h3
          = raw @about_page_info.regional_representative_title

        p
          = @about_page_info.regional_representative_description
        .button-download.without-svg.button-popup
          span відправити запит


= render "download_catalog"


