.advice-page
  .header-page
    .bg-pattern
    .section-header поради
  .filter-tabs.tag-container
    .tabs.tag.active всі поради
    - @advices_tags.each do |tag|
      .tabs.tag data-tag-id=tag.id
        = tag.name


  .row.columns-left
    - @advices.each_with_index do |advice, advice_index|
      .medium-6.large-4.columns
        .rectangle-box.advince-one.tag-related data-advice-id=advice.id data-tag-ids=advice.tags.map(&:id).join(",")
          .bg-pattern
          .inner
            - advice.tags.each do |tag|
              .tabs.tab-in-advice-box
                = tag.name

            p
              = advice.short_description
            .number-advince
              |порада №#{advice_index + 1}
            .svg-box-button = inline_svg "svg/plus.svg"




= render "download_catalog"