.contact-wrap
  .header-page
    .bg-pattern
    .section-header контакти

  .contact-nav-wrap
    .row
      .clearfix.tab_buttons_wrapper
        .contact-tabs-box.floated.tab-buttons
          - @office_categories.each_with_index do |category, category_index|
            .contact-tabs.tab-button class=("active" if category_index == 0)
              = category.name

        
          select.contact-tabs-mobile.tab-buttons
            - @office_categories.each_with_index do |category, category_index|
              option.tab-button value=(category.id if category_index == 0) data-display=("" if category_index == 0)

        .drop-down-box.floated-right
          select
            option data-display="" All cities

            - @office_cities.each_with_index do |city, city_index|
              option value=city.id
                = city.name


    .row
      .tab-content-wrapper
        - @office_categories.each_with_index do |category, category_index|
          .contact-content-wrap.tab_content class=("active" if category_index == 0)
            .row.columns-left
              - category.offices.each do |office|
                .large-4.columns.office
                  .rectangle-box
                    .inner
                      - office.office_tags.each do |tag|
                        .plase
                          = tag.name
                      .title
                        = office.name
                      - if office.address.present?
                        .sub-title
                          = office.address
                      - if office.phones.any?
                        .number-box
                          - office.phones.each do |phone|
                            a href=phone_url(phone)
                              = formatted_phone_number(phone)
                      - if office.map_coordinates.present?
                        a.svg-box-button href="" = inline_svg "svg/loc.svg"










