.main-banner-wrapper

	ul.banner-slider
		- @slides.each do |slide|
			- slide_image_url = slide.slide_image.try(:url)
			li
				.bg-pattern
				.y-align-holder
					.right-bg
					.row
						.medium-5.column
							.image-box
								.img-bg style=("background-image: url('#{slide_image_url}')" if slide_image_url)
						.medium-7.columns
							.inner-info 
								- if slide.slide_title.present?
									.title
										= slide.slide_title
								- if slide.slide_subtitle.present?
									h2
										= slide.slide_subtitle
								- if slide.slide_short_description.present?
									p
										= slide.slide_short_description
								- if (slide_url = slide.linkable.try(:url)).present?
									a.btn href=slide_url
										|детальніше
										= inline_svg "svg/plus-1.svg"

				.bg-img-box
					.img-bg style=("background-image: url(#{slide.background_image.url})" if slide.background_image.exists?)

				.slider-button-box
					.prev-slide = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
					.current-slide 1
					span &#47;
					.total-slide
					.next-slide = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"

	a.more-button href="#production-wrap" Більше



#production-wrap.our-production-wrap
	
	.section-header
		= @home_page_info.catalog_title

	.product-list
		- catalog_categories.each do |category|
			.card-wrap
				a.inner href=category.url
					.bg-color style="background-color: #{category.color}"
					p.title
						= category.name
					.card-img style="background-image: url(#{category.image.url(:medium)})"
					.hover_block
						.bg-pattern
						.svg = inline_svg "svg/plus.svg"
						

		.catalog-product-wrap
			.catalog-product
				.inner
					.title каталог продукції
					.sub_title Завантажити повний каталог продукції у PDF
					.button-download
						span.svg
							= inline_svg "svg/pdf-icon.svg"
						span завантажити
				.bg-pattern



/ .about-company-wrap.section-indent

/ 	.img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
/ 	.row
/ 		.columns.large-9
/ 			.component-header
/ 				= @home_page_info.about_title
/ 			.clearfix
/ 				- @features.each do |feature|
/ 					.floated.short-info
/ 						.figure
/ 							= feature.title
/ 						.orange-line.desktop
/ 						p
/ 							= raw feature.subtitle

/ 			.description
/ 				= raw @home_page_info.about_content
/ 			a.btn href=about_us_path
/ 				|детальніше
/ 				span
/ 					= inline_svg "svg/plus-1.svg"
/ 	.bg-pattern-white
/ 	.img-bg style="background-image: url(#{asset_path('photo/stuff-6.jpg')})"



/ .testimonials-wrap
	.component-header
		= @home_page_info.testimonials_title
	.row
		.columns
			ul.owl-carousel.owl-theme
				- @testimonials.each do |testimonial|
					li.feedback
						.inner
							p
								= testimonial.short_description
							.author-info
								.imgage
									.bg-img style="background-image: url(#{testimonial.avatar.url(:small)})"
								.author-name
									.title
										= testimonial.name
									.sub_title
										= testimonial.role


= render "partners"


.advice-wrap
	.pattern-holder
		.bg-pattern-white
	.row
		.medium-10.columns.medium-centered
			.row
				.medium-3.columns
					.title порада дня
				.medium-9.columns
					p Вапняні штукатурки непридатні для обробки гіпсокартонних перегородок – свіже вапно «перепалює» папір і шар затверділої штукатурки відпадає. З цієї ж причини шпалери по вапняній штукатурці варто клеїти щонайраніше через місяць.

					.sub_title 
						|порада
						span
							|№21

.content-wrap              
	.map-container
		.navidation-map-box.tab_buttons_wrapper
			.header-nav.clearfiht.tab-buttons
				.title.floated.tab-button.active магазин
				.title.floated.tab-button виробництво
			.inner-select
				select
					option data-display="" Nothing
					option value="1" львівська область
					option value="2" інша область
					option value="3" київська область
					option value="4" Potato
			.tab-content-wrapper
				.inner-address-box.tab_content.active
					- 10.times do |i|
						.address-one
							.title 10001 дрібниця
							.sub-title вул. Вуликах 29
							.location-svg = inline_svg "svg/loc.svg"
				.inner-address-box.tab_content
					- 4.times do |i|
						.address-one
							.title 10001 дрібниця
							.sub-title вул. Вуликах 29
							.location-svg = inline_svg "svg/loc.svg"

		#googleMap
