.price-list-page
  .header-page
    .bg-pattern
    .section-header прайс лист

  .row
    .columns
      .call-box
        .call-batton = inline_svg "svg/ic_phone_24px"
          / span уточнити вартість
        / .description-call * для уточнення вартості продукії просимо звернутись до відділу збуту

      .table-box
        table
          tr
            th №
            th товар
            th опис
            th упаковка
            th палета
            th фасовка
          - @categories.each do |category|
            tr.category
              td colspan="6" rowspan="1" style="background-color: #{category.color}"
                p
                  = category.name
            - category.catalog_products.each_with_index do |product, product_index|
              tr
                td
                  h2
                    = product_index + 1
                td
                  img src=product.image.url
                  .bg-color style="background-color: #{category.color}"
                  h3
                    = product.name

                td
                  p
                    = product.short_description
                td
                  - product.product_packaging_types.each do |tag|
                    h4
                      = tag.name
                td
                  - product.pallets.each do |tag|
                    h4
                      = tag.name
                td
                  - product.packings.each do |tag|
                    h4
                      = tag.name








  = render "download_catalog"