.error_page
  .err-page-part.left-part
    .head-title 404
  .err-page-part.right-part
    .inner
      .title помилка
      p Сторінка яку ви намагались відвідати нажаль не існує. Перейдіть на головну.
      a.button-download.without-svg href=root_path
        span головна

    .bg-pattern
