- @products.each do |product|
  .product-inner-content.tag-related
    a.poduct-one href=product.url
      .image-box
        .img-bg style="background-image: url(#{product.image.url})"
      .product-content
        .title
          = product.name
        .info-line
          .sub-title декоративна
          .btn
            |детальніше
            span
              = inline_svg "svg/plus.svg"

        p
          = product.short_description
