.nav-box
  .title підкатегорії

  ul.nav.tag-container
    li
      - if @subcategory
        a.tag href=@category.url
          | всі товари
      - else
        span.tag.active
          | всі товари
    - @subcategories.each do |subcategory|
      li
        - if !@subcategory || @subcategory.id != subcategory.id
          a.tag data-tag-id="2" href=subcategory.url
            = subcategory.name
        - else
          span.tag.active data-tag-id="2"
            = subcategory.name
