.subcategory-wrap
  = render "category_banner"

  .sub-category-content
    .row
      .columns.large-3
        = render "subcategory_navigation"
      .columns.large-9
        = render "products"

  = render "download_catalog"