.catalog-page
  .header-page
    .bg-pattern
    a.sub-title href=root_path Головна
    .section-header каталог продукції

  .product-list.catalog-page
    - catalog_categories.each do |category|
      .card-wrap
        a.inner href=category.url
          .bg-color style="background-color: #{category.color}"
          p.title
            = category.name
          .card-img style="background-image: url(#{category.image.url(:medium)})"
          .hover_block
            .bg-pattern
          
        .description-block
          - subcategories_for(category).each do |subcategory|
            a href=subcategory.url
              = subcategory.name

= render "download_catalog"