.product_page
  .product_baner
    .bg-pattern
    .row
      .large-10.columns.lagre-centered
        .row
          .large-6.columns
            / .image-box
            .product3d

          .large-6.columns.xlarge-push-1.colums
            .product_info
              = render "breadcrumbs"
              .title 
                /= @subcategory.name
                /br
                span
                  = @product.name

              .tabs.tab-in-product-prage вапняна

              - if @product.short_description.present?
                .info-inner
                  .sub_title опис:
                  p
                    = @product.short_description


              - if @product_features.try(:any?)
                .info-advantages
                  .sub_title Переваги:
                  ul
                    - @product_features.each do |feature|
                      li
                        = feature

              / .info-colors
              /   .sub_title Кольори:
              /   - 10.times do |c|
              /     .colors-square.square class=("orange-card" if c == 0) class=("lite-red-card" if c == 1)  class=("brown-card" if c == 2) class=("yellow-card" if c == 3) class=("green-card" if c == 4) class=("lite-blue-card" if c == 5) class=("blue-card" if c == 6) class=("violet-card" if c == 7) class=("red-card" if c == 8) class=("black-card" if c == 9) 

              div
                .button-download.without-svg
                  span замовити

- if @product.usage_description.present? || @product.preparing_basis.present? || @product.preparing.present?
  .how-to-use-block.clearfix
    - if @product.usage_description.present?
      .info-product-use.floated
        .title
          = inline_svg "svg/adyun.svg"
          span
            |Застосування
        p
          = @product.usage_description
    - if @product.preparing_basis.present?
      .info-product-use.floated
        .title
          = inline_svg "svg/tru.svg"
          span
            |підготовка основи
        p
          = @product.preparing_basis
    - if @product.preparing.present?
      .info-product-use.floated
        .title
          = inline_svg "svg/dva.svg"
          span
            |приготування
        p
          = @product.preparing


- if @product.technical_parameters.present? || @product.usage_guide.present? || @product_videos.try(:any?)
  .info-about-product
    .row
      .large-10.columns.large-centered
        .tab_buttons_wrapper
          .tabs-navigation.tab-buttons
            - if @product.technical_parameters.present?
              .tab.tab-button.active Технічні характеристики
            - if @product.usage_guide.present?
              .tab.tab-button class=("active" if @product.technical_parameters.blank?) Інструкція по застосуванню
            - if @product_videos.try(:any?)
              .tab.tab-button class=("active" if @product.technical_parameters.blank? && @product.usage_guide.blank?) Відеопосібник

          .tab-content-wrapper
            - if @product.technical_parameters.present?
              .tab-content.active
                ul
                  - @product.technical_parameters.each do |property_name, property_value|
                    li
                      .clearfix
                        .product-characteristic.floated.key
                          = property_name
                        .product-characteristic.floated-right.value
                          = raw property_value


            - if @product.usage_guide.present?
              .tab-content class=("active" if @product.technical_parameters.blank?)
                = raw @product.usage_guide
            - if @product_videos.try(:any?)
              .tab-content class=("active" if @product.technical_parameters.blank? && @product.usage_guide.blank?)
                - @product.videos.published.each do |video|
                  = render "video_block", video: video

- if @related_products.try(:any?)
  .related-wrap
    .component-header схожі товари
    ul.owl-carousel
      - @related_products.each do |product|
        li.related
          .card-wrap
            a.inner
              .bg-color style="background-color: #{product.color}"

              p.title
                = product.name
              .card-img style="background-image: url(#{product.image.url(:medium)})"
              .hover_block
                .bg-pattern
                .svg = inline_svg "svg/plus.svg"

= render "download_catalog"
