h2 Ввійти
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .input-field
    = f.label :email
    br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .input-field
    = f.label :password
    br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    / = f.submit "Log in"
    button.button-send type="submit" 
      span.send Ввійти
= render "devise/shared/links"
