.about-us-wrap
  .banner-inner-page
    position: relative
    height: 80vh
    width: 100%
    .img-bg
      background-attachment: fixed
    .inner
      position: absolute
      color: $orange
      text-transform: uppercase
      font-weight: 700
      width: 600px
      max-width: 100%
      text-align: center
      letter-spacing: 1px
      +xy-align
      .name-page
        font-size: 18px
        padding-bottom: 75px
        +x-align
        top: -200px
      .title
        color: $white
        font-size: 84px
        padding-bottom: 10px
      .sub-title
        border-top: 2px solid $orange
        border-bottom: 2px solid $orange
        font-size: 38px
        line-height: 2
      .catalog-download-box
        // padding-top: 50px
        +x-align
        bottom: -300px
        svg
          background: $orange
          padding: 5px
          fill: $white
          width: 35px
        p
          color: $white
          font-size: 12px
          padding-top: 10px
      +breakpoint(xlarge only)
        .name-page
          top: -60px
        .catalog-download-box
          bottom: -150px
      +breakpoint(small only)
        .title
          font-size: 38px
        .sub-title
          font-size: 20px
        .name-page
          top: -100px
        .catalog-download-box
          bottom: -185px

    +breakpoint(medium only)
      height: 60vh
      .inner
        .name-page
          font-size: 16px
          top: -100px
        .title
          font-size: 60px
        .sub-title
          font-size: 24px
        .catalog-download-box
          bottom: -200px
.about-info
  padding-top: 50px
  overflow: hidden
  .logo
    margin-top: 50px
    svg
      width: 70%
    +breakpoint(small only)
      display: none
  .info-figures-box
    padding: 50px 0
    position: relative
    &:before
      content: ""
      position: absolute
      background-image: url("#{asset_path('pattern.png')}")
      height: 100%
      top: 0
      bottom: 0
      left: -60px
      z-index: -1
      width: 1000%

    .figure
      font-size: 67px
      font-weight: 700
      color: $orange

    p
      color: $black
      text-transform: uppercase
      font-size: 16px
      font-weight: 700
      margin-top: 20px
      +breakpoint(medium only)
        padding-bottom: 50px
    +breakpoint(small only)
      .figure
        display: inline-block
        font-size: 42px 
        width: 100px
        margin-bottom: 10px
        border-right: 3px solid $orange
        line-height: 1
      p
        display: inline-block
        vertical-align: super
        font-size: 14px
        padding-left: 20px
        margin-top: 0


.about-us-slider-wrap
  position: relative
  +breakpoint(medium up)
    margin-top: 200px
  .title-square
    position: absolute
    left: 50px
    top: -65px
    background: $orange
    text-align: center
    padding: 120px 50px 35px
    z-index: 1
    .title
      color: $white
      text-transform: uppercase
      font-weight: 700
      font-size: 30px
      letter-spacing: 3px

  .slider-button-box
    position: absolute
    z-index: 1
    right: 10%
    bottom: 30px
    .prev-slide
      left: -60px
  li
    position: relative

    .image-box
      position: relative
      padding-bottom: 36%
      +grayscale
      .main_baner_gradient_layer
        position: absolute
        left: 0
        right: 0
        bottom: 0
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%) /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%) /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ) /* IE6-9 */
        opacity: 0.8
        height: 40%
        z-index: 1
    .inner-slider
      position: absolute
      right: 50px
      bottom: 15%
      width: 600px
      max-width: 80%
      z-index: 1
      p
        font-size: 36px
        font-weight: 700
        color: $white
        position: relative
        &:before
          content: ""
          height: 2px
          width: 40px
          left: -70px
          top: 20px
          background: $white
          position: absolute
          display: inline-block
  +breakpoint(medium only)
    .title-square
      .title
        font-size: 22px
    .image-box
      padding-bottom: 46% !important
    .inner-slider
      p
        font-size: 32px !important
  +breakpoint(small only)
    margin-top: 100px
    .slider-button-box
      +x-align
      +translate(-50%,0)
      right: 0
      width: 0
    .title-square
      left: 50%
      top: -90px
      +translate(-50%,0)
      padding: 100px 35px 20px
      min-width: 250px
      .title
        font-size: 20px
    li
      .image-box
        padding-bottom: 100%
      .inner-slider
        text-align: center
        p
          font-size: 22px
          &:before
            display: none



.about-production
  margin-top: 100px
  .component-header
    margin-bottom: 60px
    color: $orange
    .title-square

  .about-production-block
    position: relative
    .img-container
      margin-bottom: 25px
      +transition(.5s)
      cursor: pointer

      .title
        font-size: 25px
        font-weight: 700
        color: $white
        letter-spacing: 3px
        text-transform: uppercase
        text-align: center
        width: 500px
        max-width: 100%
        +transition(.5s)
        +xy-align
        z-index: 3
      .img-bg
        +grayscale
    .hover-block
      +fullsize
      +transition(.5s)
      z-index: 2
      opacity: 0
      text-align: center
      background-color: rgba($orange, 1)
      p
        +xy-align
        font-size: 14px
        line-height: 1.5
        color: $white
        padding-bottom: 50px
        width: 400px
        max-width: 90%
      .btn
        +xy-align
        top: 80%
        min-width: 250px
        svg
          margin-left: 15px
    &:hover
      .title
        top: 20%
      .hover-block
        opacity: 1
        .btn
          color: $black
          svg
            fill: $black
          &:hover
            color: $black
            svg
              fill: $black

    +breakpoint(small only)
      .img-container
        padding-bottom: 100%

.certificates-wrap
  margin-top: 100px
  position: relative
  .component-header
    margin-bottom: 30px
  .download-certificates-box
    cursor: pointer
    padding-top: 20px
    text-align: center
    +x-align
    svg
      width: 25px
      vertical-align: bottom
    .sub_title
      font-size: 12px
      font-weight: 700
      text-transform: uppercase
      padding: 0 10px
      display: inline-block
      letter-spacing: 1px
      +transition(.3s)
    span.mobile
      display: none
    span
      font-weight: 500
      color: rgba($black, 0.4)
      font-size: 14px
    &:hover
      .sub_title
        color: $orange
  .certificates-box
    border: 2px solid $black
    position: relative
    margin-bottom: 25px
    height: 360px
    +transition(0.5s)
    .certificate-svg
      svg
        position: absolute
        top: -10px
        z-index: 1
        left: 30px
        background: $orange
        padding: 5px
        fill: $white
        width: 35px
    .inner
      padding: 50px
      color: $black
      position: relative
      .bg-pattern
        opacity: 0
      .title
        font-size: 16px
        font-weight: 700
        padding-bottom: 20px
        text-transform: uppercase
      p
        font-size: 13px
        line-height: 1.5
    .hover-block
      opacity: 0
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      transform: scale(0.9)
      +transition(0.5s)
      +fullsize
      a
        +fullsize
        .svg
          background: $black
          padding: 23px
          +xy-align
          svg
            fill: $white
            

      img 
        display: none
        
    &:hover
      border: 2px solid $white
      .certificate-svg
        
        svg
          background: $black
      .inner
        background: $orange
        height: 360px
        .bg-pattern
          opacity: 1
      .hover-block
        opacity: 1

  +breakpoint(small only)
    .certificates-box
      display: none
    .download-certificates-box
      border: 2px solid
      width: 90%
      margin: auto
      display: block
      svg
        position: absolute
        top: -10px
        +x-align
        background: $orange
        padding: 5px
        fill: $white
        width: 40px
      .sub-title
        display: block
        padding: 20px
        width: 80%
      span.mobile
        display: block
        color: $black
        font-size: 12px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1px
      span
        padding-bottom: 20px
        display: block




.partner-program-wrap
  margin-top: 170px
  overflow: hidden
  margin-bottom: 50px
  .img-container
    overflow: initial
    &:before, &:after
      content: ""
      position: absolute
      background-image: url("#{asset_path('pattern.png')}")
      height: 100%
      top: 0
      bottom: 0
      z-index: -1
      width: 200px
    &:before
      left: -200px
    &:after
      right: -200px
    +breakpoint(medium down)
      &:before, &:after
        left: 0
        right: 0
        width: 100%
        top: initial
        bottom: -200px
  .floated
    position: relative
    width: 55%
    &.width
      width: 45%
  .floated-right
    width: 45%
    position: relative
    &.width
      width: 55%
  .bg-pattern
    width: 200px 
  .inner
    padding: 70px 0 70px 70px
    width: 600px
    max-width: 100%
    .sub-title
      font-size: 14px
      font-weight: 700
      text-transform: uppercase

    h3, h2
      color: $orange
      font-size: 34px
      font-weight: 700
      text-transform: uppercase
      line-height: 1
      padding: 10px 0 40px
      +breakpoint(small only)
        font-size: 28px
    p
      font-size: 14px
      line-height: 1.5
    .button-download
      margin-top: 70px
    &.invert-colours
      .sub-title
        color: $orange
      h3, h2
        color: $black

  +breakpoint(medium down)
    .floated, .floated-right
      width: 100%
      &.width
        width: 100%