.advice-page
.filter-tabs
  margin: 60px 0
  text-align: center
.tabs
  font-size: 14px
  font-weight: 700
  line-height: 2
  border-top: 3px solid $black
  border-bottom: 3px solid $black
  color: $black
  margin-right: 20px
  text-transform: uppercase
  letter-spacing: 1px
  display: inline-block
  cursor: pointer
  +transition(.2s)
  &:hover
    color: $orange
    border-top: 3px solid $orange
    border-bottom: 3px solid $orange
  &.tab-in-product-prage
    font-size: 16px
    &:hover
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      color: $black
  &.tab-in-advice-box
    font-size: 12px
  &.active
    color: $orange
    border-top: 3px solid $orange
    border-bottom: 3px solid $orange
+breakpoint(small only)
  .filter-tabs
    text-align: left
    margin: 30px 0
  .tabs
    margin: 0 10px 10px 10px

  
.rectangle-box
  background: #f9f9f9
  position: relative
  margin-bottom: 100px
  cursor: pointer
  +breakpoint(small only)
    margin-bottom: 50px
  &:before
    content: ""
    display: inline-block
    padding-bottom: 56%
  &.hide
    display: none
  &.popup
    &:before
      display: none
    cursor: initial
    +xy-align
    width: 600px
    max-width: 90%
    .bg-pattern
      opacity: 1
      width: 30%
      right: 0
      left: initial
    .inner
      padding: 50px
      position: relative
    .number-advince
      left: 0
      bottom: 0
      position: relative
    p
      overflow: initial
      max-height: initial
  .bg-pattern
    opacity: 0
    +transition(.5s)
  .inner
    +fullsize
    padding: 20px 
  p
    font-size: 16px
    line-height: 1.5
    padding: 20px 0
    overflow: hidden
    max-height: 90px

  .number-advince
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    color: $orange
    position: absolute
    bottom: 20px
    left: 20px
  .svg-box-button
    background: $black
    padding: 5px
    width: 50px
    height: 50px
    cursor: pointer
    position: absolute
    bottom: -20px
    right: 50px
    +transition(.5s)
    svg
      +transition(.5s)
      fill: $white
      +centered-inside
    &:hover
      background: $orange
      svg
        +rotate(180deg)
  &:hover
    .bg-pattern
      opacity: 1
    .svg-box-button
      background: $orange
      svg
        +rotate(180deg)