.contact-wrap
  .contact-nav-wrap
    padding-top: 50px
    .contact-tabs-box
      margin-bottom: 50px
      .contact-tabs
        text-transform: uppercase
        font-size: 14px
        font-weight: 700
        line-height: 3
        border-top: 2px solid #ededed
        border-bottom: 2px solid #ededed
        display: inline-block
        padding: 0 50px
        cursor: pointer
        letter-spacing: 1px
        +transition(.5s)
        &:hover
          color: $orange
        &.active
          background: $orange
          color: $white
          border-top: 2px solid $orange
          border-bottom: 2px solid $orange
        +breakpoint(medium down)
          display: none
      .contact-tabs-mobile
        display: none
        +breakpoint(medium down)
          display: block
    .drop-down-box 
      background: #dfdfdf
      margin-bottom: 50px

  .contact-content-wrap
    padding-bottom: 90px
    display: none
    &.active
      display: block
       
    .rectangle-box
      .inner
        padding: 40px
      .plase
        font-size: 12px
        color: $orange
        font-weight: 600
        padding-bottom: 5px
      .title
        font-size: 21px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1px
        padding-bottom: 30px
      .sub-title
        font-size: 14px
        color: #747474
        padding-bottom: 10px
      .number-box
        a
          margin-bottom: 10px
          font-size: 18px
          font-weight: 700
          display: block
          span
            color: $orange
      .svg-box-button
        svg
          width: 20px
      &:hover
        .svg-box-button
          svg
            +rotate(0deg)
