.devise-content
	padding-top: 150px
	form
		margin: 10px 0
	.new_user
		padding: 50px
		background-color: $orange
		position: relative
		&:before
			content: ""
			position: absolute
			width: 30%
			height: 100%
			top: 0
			right: 0
			display: block 
			background-image: url(/assets/pattern.png)
			pointer-events: none
		.input-field
			padding-bottom: 15px
			input
				width: calc(100% - 30%)
			label
				color: white

		.field
			padding-bottom: 15px
			label
				margin-left: 10px

	a, h2
		color: $orange
		text-transform: uppercase
		font-weight: 600

	
	h2
		text-align: center