body
  .baner_burger_menu
    background-color: $black
    position: fixed
    top: 90px
    right: 0
    left: 0
    width: auto
    transform: translate(0%, -150%)
    transition: 0.5s
    z-index: 1001
    +breakpoint(xlarge down)
      top: 70px
    +breakpoint(medium only)
      // width: 30%
    +breakpoint(small only)
      width: 100%
      top: 65px
    .baner_link
      padding: 80px 0
      list-style: none
      display: inline-block
      border-top: 1px solid rgba($white,0.1)
      border-right: 1px solid rgba($white,0.1)
      text-align: center
      width: 16.6%
      +transition(.5s)
      &:last-child
        border-right: 1px solid transparent
      a 
        color: $white
        text-decoration: none
        font-weight: 700
        font-size: 20px
        letter-spacing: 2px
        text-transform: uppercase
        padding: 80px 0
        +breakpoint(small only)
          padding: 10px 0
      .bg-pattern
        opacity: 0
      &:hover
        background: $orange
        .bg-pattern
          opacity: 1
      +breakpoint(medium down)
        display: block
        border-right: 1px solid transparent
        width: 100%
        padding: 30px 0
  &.opened
    overflow: hidden
    .bg_cover
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 1000
    .baner_burger_menu
      transform: translate(0,0)

.catalog-wrap
  position: fixed
  top: 90px
  left: 0
  right: 0
  background: $white
  display: none
  z-index: 100
  height: calc(100vh - 90px)
  overflow: auto
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4)
  &.active
    display: block
  +breakpoint(xlarge down)
    top: 70px
    height: calc(100vh - 70px)


.main-banner-wrapper
  position: relative
  padding-bottom: 50px
  padding-top: 90px
  overflow: hidden
  .more-button
    font-size: 14px
    opacity: 0.6
    color: white
    position: absolute
    bottom: 60px
    +translate(0,-50%)
    left: 34%
    cursor: pointer
    z-index: 100
    &:before
      content: ""
      height: 50px
      width: 1px
      background-color: white
      position: absolute
      left: -10px
      top: 0
  .slider-button-box
    position: absolute
    right: 10%
    bottom: 0
    z-index: 1
    span
      margin: 0 5px
    .current-slide, .total-slide, span
      font-size: 22px
      color: $white
      display: inline-block
      font-weight: 700
    .next-slide, .prev-slide
      display: inline-block
      position: relative
      svg
        +translate(0,25%)
      .next-slide
        +translate(50%,0)
      .prev-slide
        +translate(-50%,0)
        margin-top: 10px
  +breakpoint(small only)
    padding-top: 65px !important
    .slider-button-box
      display: none
  li
    height: 70vh
    overflow: hidden
    background: $orange
    @media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
      height: calc(100vh - 70px)
    +breakpoint(xlarge only)
      height: calc(100vh - 70px)
    .bg-pattern
      width: 25%
      left: 0
    .y-align-holder
      +y-align
      width: 60%
      z-index: 1
      .right-bg
        content: ''
        display: block
        position: absolute
        width: 200px
        height: 100%
        top: 0
        right: 0
        background: rgba($white,0.3)
        +translate(100%,0)
        z-index: 1
        +breakpoint(small only)
          display:  none
      @media screen and (min-width: 1920px)
        width: 50%
        left: 10%
      .image-box
        position: relative
        &:before
          +square
      &:before, &:after
        content: ""
        height: 2px
        background: $white
        width: calc(100% + 500px)
        position: absolute
        left: -300px
        z-index: 2
      .img-bg
        background-size: contain
        background-position: center
        transform: scale(1.8)
        z-index: 5
      @media screen and (min-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 2)
        +translate(0,-57%)
        .img-bg
          transform: scale(1.5)
          transform: scale(1.5) translate(25%,0)
      +breakpoint(xlarge only)
        +translate(0,-57%)
        .img-bg
          transform: scale(1.5) translate(15%,0) !important
      +breakpoint(medium only)
        .img-bg
          top: 50%
          transform: scale(2.5) !important
    +breakpoint(small only)
      .bg-pattern
        height: 60%
        width: 100% !important
        right: 0
        bottom: initial
      .y-align-holder
        &:before, &:after
          display: none
        .img-bg
          transform: scale(1)
          left: 40%
          transform: translate(-10%,0)
    .inner-info
      position: relative
      padding: 50px 0
      transform: translate(200px,0)
      z-index: 1
      .title
        text-transform: uppercase
        letter-spacing: 1px
        color: $black
        font-size: 30px
        font-weight: 800
      h2
        font-size: 55px
        font-weight: 700
        color: $white
        text-transform: uppercase
        position: relative
        display: inline-block
        letter-spacing: 2px
        // &:before
        //   content: "\00AB"
        //   position: absolute
        //   left: -40px
        // &:after
        //   content: "\00BB"
        //   position: absolute
        //   right: -40px
        @media screen and (max-width: 321px)
          transform: translate(-20px, 0)
      p
        font-size: 16px
        line-height: 1.5
        color: $white
        padding-top: 20px
        letter-spacing: 1px
        padding-bottom: 40px
      .btn 
        position: absolute
        bottom: 25px
        svg
          margin-left: 5px
        &:hover
          color: $black
          svg
            fill: $black
      

      +breakpoint(xlarge down)
        transform: translate(100px,0)
        .title
          font-size: 26px
        h2
          font-size: 42px
      +breakpoint(medium only)
        padding: 25px 0
        transform: translate(100px,0)
        .title
          font-size: 26px
        h2
          font-size: 42px
      +breakpoint(small only)
        transform: translate(75px,0)
        text-align: center
        .title
          font-size: 18px
        h2
          font-size: 24px
          &:before
            left: -25px
          &:after
            right: -25px
        p
          display: none
        .btn
          display: inline-flex
          +x-align
          bottom: 0
  .bg-img-box
    width: 40%
    position: absolute
    right: 0
    top: 0
    height: 100%
    +breakpoint(small only)
      width: 100%
      height: 45%

  +breakpoint(xlarge down)
    padding-top: 70px
    li
      .bg-pattern
        width: 20%
      .y-align-holder
        .img-bg
          transform: scale(1.5)


.about-company-wrap
  background: $black
  position: relative
  margin-bottom: 50px
  .bg-pattern-white
    height: 20%
    top: initial
    bottom: 0
    z-index: 10
  .img-bg
    left: initial
    width: 25%
    right: 0
    +breakpoint(medium down)
      display: none
  .component-header
    color: $white
    text-align: left
  .clearfix
    margin: 30px 0
    .short-info
      width: 33%
      position: relative
      .figure
        font-size: 67px
        font-weight: 700
        color: $orange
      p
        color: $white
        text-transform: uppercase
        font-size: 16px
        font-weight: 700
        margin-top: 20px
    +breakpoint(small only)
      .short-info
        width: 100%
        .figure
          display: inline-block
          font-size: 42px 
          width: 100px
          margin-bottom: 10px
          border-right: 3px solid $orange
          line-height: 0.8
        p
          display: inline-block
          vertical-align: super
          font-size: 14px
          padding-left: 20px
          margin-top: 0
  .btn
    display: inline-block 
    +breakpoint(small only)
      padding-bottom: 50px
         




.description
  column-count: 2
  margin: 50px 0 100px
  p
    color: $white
    line-height: 2
    margin-bottom: 20px
    span
      color: $orange
      padding-right: 30px
      position: relative
      font-weight: 700
      text-transform: uppercase
      &:after
        content: "\2014"
        display: inline-block
        position: absolute
        padding-left: 5px
        color: $white
        font-weight: 500
  &.about-us
    p 
      color: $black
      span
        &:after
          color: $black
  +breakpoint(small only)
    column-count: 1
    margin: 20px 0 40px


  



  .bg-img
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 30%
    background-size: cover
    background-repeat: no-repeat
    +breakpoint(large up)
      width: 25%
    +breakpoint(medium only)
      display: none
    +breakpoint(small only)
      width: 100% 
      padding-bottom: 56%
      position: relative






.testimonials-wrap
  margin-bottom: 50px
  position: relative
  &:before, &:after
    content: ""
    position: absolute
    bottom: 0
    top: 0
    pointer-events: none
    z-index: 2
    width: 10%
    @media screen and (min-width: 1920px)
      width: calc(100% - 1400px)
  &:after
    background: linear-gradient(to right, $white, $white, transparent)
    left: 0
  &:before
    background: linear-gradient(to right, transparent, $white, $white)
    right: 0

  +breakpoint(small only)
    padding-top: 50px  
  .owl-carousel
    position: relative
    .feedback
      border-left: 1px solid #ededed
      border-right: 1px solid #ededed
      min-height: 400px
      .inner
        padding: 20px
        p
          font-size: 16px
          font-style: italic
          letter-spacing: 1px
          line-height: 1.5
          padding-bottom: 70px
      .author-info
        position: absolute
        bottom: 0
        left: 0
        padding: 20px
        .imgage
          position: relative
          padding-bottom: 20%
          width: 50px
          height: 50px
          display: inline-block
          .bg-img
            +fullsize
            border-radius: 50%
            background-position: center
            background-size: contain


        .author-name
          padding-left: 20px
          display: inline-block
          vertical-align: super
          
          .title
            color: $orange
            font-size: 14px
            text-transform: uppercase
          .sub_title
            color: $black
            font-size: 12px
            color: rgba($black,0.3)

      +breakpoint(small only)
        min-height: 330px
        .author-info
          left: 50%
          +x-align
















.partners-wrap
  padding: 50px 0
  background: $blueGrey50
  
  .square
    width: 25%
    border: 3px solid transparent
    +transition(.5s)
    +breakpoint(xlarge only)
      width: 20%
    .logo
      position: absolute
      width: 80%
      height: 60%
      top: 10%
      left: 10%
      text-align: center
      svg
        width: 70%
        fill: rgba($black,0.3)
      
    .brand-name
      position: absolute
      width: 100%
      text-align: center
      bottom: 50px
      left: 0
      text-transform: uppercase
      color: rgba($black,0.3)
      font-size: 14px
    a 
      position: absolute
      bottom: 20px
      width: 100%
      text-align: center
      color: $orange
      opacity: 0

    &:hover
      border: 3px solid $orange
      +transition(1s)
      .logo
        svg
          fill: initial
      .brand-name
        color: $black
        font-weight: bold
      a
        opacity: 1


    +breakpoint(small only)
      width: 33%
      float: left
      .brand-name, a
        display: none
      &:hover
        border: 3px solid transparent
    +breakpoint(medium only)
      width: 33%
    @media screen and (min-width:1920px)
      width: 20%




.advice-wrap
  background-color: $black
  position: relative
  +padding-top(50px, 80px, 80px, 100px)
  +padding-bottom(50px, 80px, 80px, 100px)
  .pattern-holder
    +fullsize
    width: 32%
    z-index: 10
    +breakpoint(xlarge down)
      width: 25%
  .title
    color: $orange
    font-weight: 700
    line-height: 4
    border-top: 2px solid $orange
    border-bottom: 2px solid $orange
    text-transform: uppercase
    display: inline-block
    letter-spacing: 2px
    font-size: 20px
  p
    color: $white
    line-height: 1.5
    font-size: 18px
    padding-bottom: 50px
  .sub_title  
    font-weight: 700
    color: $white
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 1px
    span
      padding-left: 10px
  +breakpoint(medium only)
    .title
      font-size: 16px
    p
      font-size: 14px
  +breakpoint(small only)
    .title
      margin-bottom: 40px 
      line-height: 3  
      font-size: 16px 

.content-wrap 
  position: relative
  // padding: 140px 0
  height: 600px 
  .map-container
    position: absolute
    width: 100%
    height: 100%
    right: 0
    top: 0
    left: 0
    bottom: 0


  .navidation-map-box
    position: absolute
    +y-align
    right: 10%
    width: 400px
    box-shadow: -10px 15px 50px rgba(0, 0, 0, 0.4)
    +breakpoint(medium down)
      display: none
    .header-nav
      background: $orange
      .title
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        color: rgba($white, 0.3)
        display: inline-block
        padding: 20px 50px 
        width: 50%
        cursor: pointer
        &:last-child
          border-left: 1px solid rgba($white, 0.3)
        &.active
          color: $white
    .inner-select
      padding: 0 30px
      +clearfix
      .nice-select
        width: 100%
        padding: 0
        border-bottom: 1px solid $black
        .list
          width: 100%

    .inner-address-box
      position: relative
      padding: 30px 0
      overflow: auto
      height: 300px
      
   
      &::-webkit-scrollbar-track

      &::-webkit-scrollbar
        width: 6px
        background-color: transparent

      &::-webkit-scrollbar-thumb
        background-color: #747474

      +clearfix

      .address-one
        position: relative
        padding: 10px 30px
        cursor: pointer
        +transition(.2s)
        .title
          font-size: 21px
          font-weight: 700
          text-transform: uppercase
          letter-spacing: 1px
          padding-bottom: 5px
          color: $orange
        .sub-title
          font-size: 14px
          color: #747474
          padding-bottom: 10px
        .location-svg
          position: absolute
          +y-align
          right: 20px
          svg
            width: 20px
            height: 20px
            fill: #747474
        &:hover
          background: #f4f4f4
          .location-svg
            svg
              fill: $orange
