.product_page
  .product_baner
    background: $orange
    padding: 140px 0 50px 
    overflow: hidden
    position: relative
    .bg-pattern
      width: 30%
    .image-box
      position: relative
      padding-bottom: 120%
      iframe
        +fullsize
      +breakpoint(xlarge only)
        padding-bottom: 100%
      +breakpoint(large only)
        padding-bottom: 150%
    +breakpoint(medium down)
      .bg-pattern
        width: 100%
        height: 60%
      // .image-box
      //   padding-bottom: 70%
      // &:before
      //   content: ""
      //   background-image: url(#{asset_path('pattern.png')})
      //   position: absolute
      //   height: 100%
      //   width: 500px
      //   left: -400px

    .product3d
      cursor: move
      +breakpoint(medium down)
        margin: auto
      
    .product_info
      
      .title
        color: $black
        text-transform: uppercase
        font-size: 60px
        font-weight: 700
        padding: 20px 0
        line-height: 1
        span
          color: $white
          position: relative
          // &:before, &:after
          //   display: inline-block
          //   position: absolute
          //   top: 0
          //   color: $white
          // &:before
          //   content: "\00AB"
          //   left: -40px
          // &:after
          //   content: "\00BB"
          //   right: -40px
        +breakpoint(xlarge only)
          font-size: 35px
        +breakpoint(large only)
          font-size: 50px
        // +breakpoint(medium down)
        //   span
        //     margin-left: 30px
           
        +breakpoint(small only)
          font-size: 30px
          span
            &:before
              left: -20px
            &:after
              right: -20px
      .sub_title
        font-size: 14px
        color: $black
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1px
        padding-bottom: 10px

      .info-inner, .info-advantages, .info-colors
        padding-top: 30px
        p 
          font-size: 14px
          line-height: 1.5
        ul
          padding: 5px 0 5px 40px
          background: rgba($black, 0.1)
          li
            font-size: 14px
            font-weight: 500
            color: $white
            text-transform: uppercase
            position: relative
            margin: 10px 0
            &:before
              content: ""
              width: 10px
              height: 1px
              position: absolute
              top: 7px
              left: -20px
              background: $white
        .colors-square
          border: 2px solid $black
          margin: 0 20px 20px 0 
          width: 50px
          display: inline-block
          cursor: pointer
          +transition(.5s)

          &:hover
            border: 2px solid $white
          &.orange-card
            background: $orange
          &.lite-red-card
            background: #cc1e39
          &.brown-card
            background: #8d5f35
          &.yellow-card
            background: #c7b000
          &.green-card
            background: #3ea349
          &.lite-blue-card
            background: #0f8f9e
          &.blue-card
            background: #5d7e8a
          &.violet-card
            background: #724c95
          &.red-card
            background: #d22e2e
          &.black-card
            background: #414141

      .button-download
        margin-top: 50px
        border: 2px solid $black
        background: transparent
        span
          color: $black
        &:hover
          border: 2px solid $white
          span
            color: $white
      
      +breakpoint(medium down)
        .breadcrumb
          display: none


.how-to-use-block
  background: $black
  .info-product-use
    width: 33.3%
    padding: 50px
    .title
      border-bottom: 2px solid #3fae49
      svg 
        width: 50px
        border: 2px solid #3fae49
        padding: 13px
        position: relative
        top: 23px
      span
        text-transform: uppercase
        font-size: 18px
        font-weight: 700
        line-height: 3
        color: $white
        padding-left: 20px
    
    p
      font-size: 15px
      color: $white
      line-height: 1.5
      padding-top: 30px
    +breakpoint(large only)
      padding: 30px
    +breakpoint(medium down)
      width: 100%
      padding: 20px


.info-about-product
  background: #f9f9f9
  padding: 50px 0
  .tabs-navigation
    padding: 50px 0
    +breakpoint(small only)
      padding: 25px 0
    .tab
      text-transform: uppercase
      font-size: 16px
      color: #bcbcbc
      letter-spacing: 1px
      line-height: 2
      margin-right: 30px
      cursor: pointer
      display: inline-block
      font-weight: 700
      &.active
        border-bottom: 2px solid #3fae49
        color: #3fae49
      +breakpoint(medium down)
        font-size: 14px
  .tab-content
    display: none
    padding-bottom: 50px 
    &.active
      display: block
    .video-wrap
      +breakpoint(small only)
        iframe
          width: 355px
      @media screen and (max-width: 320px)
        iframe
          width: 310px

    li
      font-size: 16px
      border-bottom: 2px solid transparent
      border-top: 2px solid transparent
      line-height: 2
      position: relative

      +transition(.15s)
      &:before
        content: ""
        border-bottom: 1px dashed black
        position: absolute
        bottom: 7px
        left: 0
        right: 0

      .product-characteristic
        position: relative
        background: #f9f9f9
      +breakpoint(small only)
        &:nth-child(2n)
          background: $white
          .product-characteristic
            background: $white
        &:before
          display: none
        .product-characteristic
          float: left
          
        .key
          color: #bcbcbc
        
      &:hover
        z-index: 1000
        border-top: 2px solid #3fae49
        border-bottom: 2px solid #3fae49
        line-height: 3
        font-weight: 700
        background: transparent
        +translate(0,5px)
        &:before
          display: none
        .product-characteristic
          &:before
            display: none

    p 
      padding-bottom: 20px
      font-size: 14px
      line-height: 1.5

.related-wrap
  padding-top: 50px
  .owl-carousel
    position: relative
    .related
      min-height: 300px 
      margin: 0 30px
  .card-wrap
    position: relative
    padding-bottom: 100px
    +transition(0.3s)
    .inner
      position: relative
      width: 100%
      display: block
      &:before
        +square
    .title
      font-size: 18px
      color: $white
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 2px
      position: absolute
      padding: 20px
      top: 0
      left: 0
    .card-img
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      left: 0
      z-index: 1
      +fullsize
      top: 80px
    .bg-color
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      &.orange-card
        background: $orange
      &.lite-red-card
        background: #cc1e39
      &.brown-card
        background: #8d5f35
      &.yellow-card
        background: #c7b000
      &.green-card
        background: #3ea349
      &.lite-blue-card
        background: #0f8f9e
      &.blue-card
        background: #5d7e8a
      &.violet-card
        background: #724c95
      &.red-card
        background: #d22e2e
      &.black-card
        background: #414141
    .hover_block
      opacity: 0
      +transition(0.5s)
      .svg
        position: absolute
        bottom: 20px
        right: 20px
        +transition(0.5s)
        svg
          fill: $white
    &:hover
      .hover_block
        opacity: 1
        .svg
          +rotate(90deg)