.price-list-page
  .call-box
    // padding: 50px 0
    .call-batton
      position: fixed
      bottom: 3%
      right: 5%
      z-index: 1
      height: 65px
      width: 65px
      background: $black
      cursor: pointer
      +transition(.53)
      svg
        width: 25px
        fill: $white
        +centered-inside
      &:hover
        background: $orange
    .description-call
      padding-top: 5px
      color: rgba($black, 0.7)
      font-size: 12px
      font-style: italic
  .table-box
    padding-top: 50px
    table
      width: 100%
      border-collapse: collapse
    // tr
    //   +transition(.5s)
    //   cursor: pointer
    td, th
      +transition(.5s)
      cursor: pointer
      position: relative
      &:first-child
        width: 5%
        text-align: center
      &:nth-child(2)
        width: 15%
      &:nth-child(3)
        width: 50%
      &:nth-child(n+4)
        text-align: right
        width: 10%
      h3, h2, p, h4
        font-size: 14px
        line-height: 1.5
      
      h3
        display: block
        padding-left: 50px
        text-transform: uppercase

      h3, h4
        font-weight: 700
      +breakpoint(xlarge only)
        h3
          font-size: 13px
    th
      &:first-child
        background: $black
        color: $white
      border: 2px solid $black
      padding: 10px
      text-align: left
      text-transform: uppercase
      font-size: 14px
    td
      background: #f4f4f4
      padding: 30px
      border: 2px solid $white
      &:first-child 
        border-left: 2px solid transparent
      &:last-child
        border-right: 2px solid transparent
      img
        width: 55px
        vertical-align: middle
        margin-right: 10px
        position: absolute
        left: 10px
        top: 20px
        z-index: 1
      .bg-color
        background: $orange
        width: 55px
        height: 50px
        position: absolute
        left: 15px
        top: 30px
      .note
        font-size: 11px 
        font-weight: 600
        text-transform: uppercase
        color: $white
        padding: 2px 6px
        background: $orange
        margin-left: 50px
        display: inline-block
    tr
      &:hover
        td
          background: $black
        h3, h2, p, h4
          color: $white


    .category
      position: relative
      td
        background: $orange
        position: relative
        padding: 30px 15px 20px
        cursor: initial
        &:before
          content: ""
          display: block
          background: $white
          width: 100%
          height: 20px
          top: 0
          left: 0
          position: absolute
        &:hover
          background: $orange

      p 
        text-transform: uppercase
        padding-top: 10px
        padding-left: 12px
        color: $white
        font-size: 16px
        font-weight: 700
        letter-spacing: 4px
        text-align: left
  
  +breakpoint(large down)
    .table-box, .call-box
      display: none

  .download-wrap
    margin-top: 100px
    +breakpoint(medium down)
      margin-top: 0
      .bg-pattern
        display: none
