.product-list
  +grid-row
  .card-wrap
    position: relative
    &:last-child
      float: left !important
    +transition(0.3s)
    .inner
      position: relative
      width: 100%
      display: block
    .title
      font-size: 18px
      color: $white
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 2px
    .card-img
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      top: 0
      left: 0
      z-index: 1  
    .hover_block
      opacity: 0
      +transition(0.5s)
      .svg
        position: absolute
        bottom: 20px
        right: 20px
        +transition(0.5s)
        svg
          fill: $white
    &:hover
      .hover_block
        opacity: 1
        .svg
          +rotate(90deg)


    +breakpoint(small only)
      +grid-col(12)
      .inner
        background: $black
        height: 80px
        margin-bottom: 5px
      .title
        padding-left: 100px
        padding-right: 20px
        +y-align
        max-height: 42px
        overflow: hidden
        font-size: 16px
      .card-img
        width: 80px
        height: 80px
        position: absolute
    +breakpoint(medium)
      +grid-col(6)
      margin-bottom: 120px
      .inner
        &:before
          +square
      .title
        position: absolute
        padding: 20px
        top: 0
        left: 0
      .card-img
        +fullsize
        top: 80px
    +breakpoint(large)
      +grid-col(3)
    .bg-color
      position: absolute
      top: 0
      left: 0
      +breakpoint(small only)
        width: 80px
        height: 80px
      +breakpoint(medium up)
        width: 100%
        height: 100%
      &.orange-card
        background: $orange
      &.lite-red-card
        background: #cc1e39
      &.brown-card
        background: #8d5f35
      &.yellow-card
        background: #c7b000
      &.green-card
        background: #3ea349
      &.lite-blue-card
        background: #0f8f9e
      &.blue-card
        background: #5d7e8a
      &.violet-card
        background: #724c95
      &.red-card
        background: #d22e2e
      &.black-card
        background: #414141

    .details-card
      

  .catalog-product-wrap
    +breakpoint(large)
      +grid-col(6)
    +breakpoint(small)
      +grid-col(12)
      margin-bottom: 10px
    .catalog-product
      position: relative
      background: rgba($black,0.03)
      &:before
        content: ''
        display: block
        padding-top: calc(50% - 0.9375em)
        +breakpoint(small only)
          padding-top: calc(60% - 0.625em)
      .inner
        +xy-align
        width: 80%
        text-align: center
        color: $black
      
        .title
          text-transform: uppercase
          font-size: 20px
          font-weight: 700
          letter-spacing: 1px
          margin: 20px 40px 
        .sub_title
          font-size: 14px
          margin: 20px 0 40px
          font-weight: 500
        
        .bg-pattern
          z-index: -1

        +breakpoint(small only)
          .title, .sub_title
            margin: 20px 0
          
  &.drop_down
    padding-bottom: 20px
    &:first-child
      padding-top: 50px
    .inner
      // background: $black
      height: 100px
      margin-bottom: 60px
      &:before
        padding-bottom: 40%
      .title
        padding-left: 100px
        padding-right: 20px
        +y-align
        // max-height: 42px
        overflow: hidden
        width: 100%
        height: 100%
        z-index: 2
      .card-img
        width: 80px
        height: 100px
        position: absolute
        top: 0
    .bg-color
      width: 100%
      height: 100px

    .inner-info
      position: absolute
      // +y-align
      a
        padding-bottom: 15px
        display: block
        +transition(.2s)
        &:hover
          color: $orange

    .catalog-product
      position: relative
      background: rgba($black,0.03)
      .inner
        height: initial
        .title
          top: 0
          padding: 0
          margin: 0
          position: relative
        .sub_title
          margin: 10px 0 20px
      &:before
        content: ''
        display: block
        padding-top: calc(40% - 0.9375em)
        +breakpoint(small only)
          padding-top: calc(60% - 0.625em)

  &.catalog-page
    padding-top: 100px
    .inner
      .bg-color
        transition: height 1s
      .title
        top: initial
        bottom: 0
        text-align: center
        +x-align
        width: 300px
        max-width: 95%
      .card-img
        top: -60px
      .bg-pattern
        transition: height 1s
    
    .card-wrap:hover
      .bg-color, .bg-pattern
        height: 170%

    .description-block
      position: relative
      z-index: 1
      padding: 20px
      text-align: center
      a
        margin-top: 20px
        font-weight: 700
        font-size: 16px
        display: block
        +transition(.5s)
        &:last-child
          padding-bottom: 50px
        &:hover
          color: $white

    +breakpoint(small only)
      padding-top: 50px
      .inner
        .title
          top: 20px
          left: 0
          width: auto
          +translate(0,0)
        .card-img
          top: 0
      .card-wrap:hover
        .bg-color, .bg-pattern
          height: 100%
      .description-block
        padding: 0
        text-align: left
        a
          padding-top: 10px





