.subcategory-wrap
  .sub-category-content
    padding: 50px 0
  .nav-box
    .title
      font-size: 20px
      text-transform: uppercase
      font-weight: 700
      margin-bottom: 30px
    .nav
      .tag
        display: block
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 20px
        cursor: pointer
        color: #bcbcbc
        position: relative
        +transition(.5s)
        &:before
          content: ""
          display: none
          position: absolute
          left: -15px
          height: 100%  
          width: 2px
          background: $orange
        &.active
          color: $orange
          &:before
            display: inline-block
        &:hover
          color: $orange
          &:before
            display: inline-block
        +breakpoint(medium only)
          &:before
            left: -10px
        +breakpoint(small only)
          &:before
            display: none
        
  .product-inner-content
    &.hide
      display: none
    .poduct-one
      display: block
      position: relative
      cursor: pointer
      padding-bottom: 100px
      +breakpoint(medium down)
        &:first-child 
          margin-top: 50px
      +breakpoint(small only)
        padding-bottom: 20px
      .image-box
        position: absolute
        padding-bottom: 30%
        top: 0
        left: 0
        width: 250px
        .img-bg
          background-size: contain
      .product-content
        padding-left: 250px
        .title
          text-transform: uppercase
        .info-line
          margin: 20px 0
          position: relative
          border-top: 2px solid $orange
          border-bottom: 2px solid $orange
          position: relative
          +transition(.5s)
          &:before
            content: ""
            position: absolute
            top: -2px
            bottom: 0
            left: -250px
            width: 250px
            height: calc(2px + 100% + 2px)
            background: $orange
            z-index: -1
          .sub-title
            text-transform: uppercase
            font-size: 16px
            padding: 20px 10px 
            opacity: 1
          .btn 
            opacity: 0
            position: absolute
            right: 20px
            +y-align
            svg
              margin-left: 5px

        &:hover
          .info-line
            &:before
              width: calc(100% + 250px)
            .sub-title
              opacity: 0
            .btn 
              opacity: 1
              color: $white
              svg
                fill: $white
                +rotate(90deg)
        .title
          font-size: 20px
          font-weight: 700
        p
          // padding-top: 150px
          line-height: 1.5
          font-size: 14px

        .title, p
          padding-left: 10px

      +breakpoint(small only)
        .image-box
          padding-bottom: 50%
          width: 100px
        .product-content
          padding-left: 100px
          p
            display: none