// general parts

.row.columns-left
  .columns
    float: left !important

.prev-slide, .next-slide
  position: absolute
  height: 50px
  width: 50px
  // background: $orange
  top: 0
  
  z-index: 111
  cursor: pointer
  transition: 0.5s
  svg
    width: 50px
    fill: $white
    transform: translate(0%,50%)
  &.about-us
    background: #414141
    &:hover
      background: $orange
  .prev-slide
    left: -60px

  .next-slide
    right: 0
    left: 0

// .tab-content
//   display: none
//   &.active
//     display: block

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right
  +breakpoint(small only)
    .floated, .floated-right
      float: none

.float-right
  +breakpoint(medium up)
    float: right !important
.float-left
  +breakpoint(medium up)
    float: left !important

.mobile
  +breakpoint(medium up)
    display: none
.desktop
  +breakpoint(small only)
    display: none

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden

.img-bg
  position: absolute
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken


// webprojects

.bg-pattern
  +fullsize 
  pointer-events: none
  &:before
    content: ''
    +fullsize
    background-image: url(#{asset_path('pattern.png')})

.bg-pattern-white
  +fullsize 
  pointer-events: none
  &:before
    content: ''
    +fullsize
    background-image: url(#{asset_path('pattern-w.png')})

.orange-line
  height: 3px
  width: 72px
  background: $orange

.language-box
  font-size: 16px
  font-weight: 700
  color: $white
  cursor: pointer
  +transition(0.5s)
  span
    padding-right: 10px
    &.active
      color: $orange
      cursor: default
    &:hover
      color: $orange
  &.in-footer
    padding-bottom: 40px


.bm-logo
  svg
    width: 80px


// typography

.component-header
  font-size: 20px
  font-weight: 700
  text-align: center
  margin-bottom: 30px
  text-transform: uppercase
  letter-spacing: 1px

.section-header
  font-size: 32px
  font-weight: 700
  text-align: center
  margin-bottom: 30px
  text-transform: uppercase
  +breakpoint(small only)
    font-size: 24px
.section-indent
  padding: 50px 0
  +breakpoint(small only)
    padding: 50px 0 0 

.button-download
  border: 2px solid $orange
  background: $white
  padding: 10px 20px 10px 55px 
  display: inline-block
  cursor: pointer
  position: relative
  +transition(0.5s)
  span.svg
    width: 39px
    position: absolute
    left: -1px
    top: -1px
    bottom: -1px
    background: $orange
    padding: 8px
    fill: $white
    +transition(0.5s)
  span
    text-transform: uppercase
    color: $orange
    font-size: 16px
    font-weight: 700
    letter-spacing: 1px
    +transition(0.5s)
  &:hover
    border: 2px solid $black
    background: $orange
    
    .svg
      background: $black
    span
      color: $white
  &.without-svg
    padding: 10px 20px
  +breakpoint(small only)
    span
      font-size: 14px


.button-send
  border: 2px solid $white
  background: $orange
  padding: 10px 20px 
  display: inline-block
  cursor: pointer
  position: relative
  +transition(0.5s)
  span.send, span.success
    text-transform: uppercase
    color: $white
    font-size: 16px
    font-weight: 700
    letter-spacing: 1px
    +transition(0.5s)
    display: inline-block
    &.hidden
      display: none
  span.success
    display: none
    &.active
      display: inline-block

  &.popup
    padding: 10px 40px
    background: $orange
    border: 2px solid $orange
    margin-top: 20px
    &:hover
      background: $black
      border: 2px solid $black
      span
        color: $white
  &:hover
    border: 2px solid $black
    background: $orange
    span
      color: $black

  +breakpoint(small only)
    span
      font-size: 14px

.square
  position: relative
  width: 100%
  &:before
    +square

.btn
  color: $white
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  letter-spacing: 2px
  cursor: pointer
  +transition(0.5s)
  svg
    fill: $white
    width: 15px
    +transition(0.5s)
  &:hover
    color: $orange
    svg
      fill: $orange
      transform: rotate(90deg)


.tab-button
  display: none
  &.active
    display: block
.tab_content
  display: none
  &.active
    display: block
