.be_mannager_popup
  .close-popup = inline_svg "svg/plus.svg"
  form.inner-popup action="/manager_request" method="post" enctype="multipart/form-data"
    .title Відправити запит
    .sub_title Залиште ваші контактні данні та ми звяжимось з ами найблищим часом.
    .input-box
      = inline_svg "svg/ic_person_white_24px.svg"
      input#name required="" name="name"

    .input-box
      = inline_svg "svg/ic_phone_24px.svg"
      input#number required="" name="number"

    .input-box
      = inline_svg "svg/ic_email_white_24px.svg"
      input#mail required="" name="mail"

    button.button-send type="submit"
      span.send відправити
      span.success успішно відправленно 