- if !defined?(breadcrumbs)
  - breadcrumbs = @_breadcrumbs
- if breadcrumbs.try(:any?)
  ul.breadcrumb
    - breadcrumbs.each_with_index do |item,i|

      li data=item.inspect
        - if item[:url].present? && i < breadcrumbs.length-1
          a.breadcrumb-tag href=item[:url]
            = item[:name]
        - else
          span.breadcrumb-tag
            = item[:name]