.download-wrap
  .bg-pattern
  .inner
    .title каталог продукції
    .discretion Завантажити повний каталог продукціі у PDF 
    .button-download
      span.svg
        = inline_svg "svg/pdf-icon.svg"
      span завантажити