.catalog-wrap
  .product-list.drop_down
    - catalog_categories.each do |category|
      .card-wrap
        .inner
          .bg-color style="background-color: #{category.color}"
          a.title href=category.url
            = category.name

          .card-img style="background-image: url(#{category.image.url(:thumb)})"
          .inner-info
            - subcategories_for(category).each do |subcategory|
              a href=subcategory.url
                = subcategory.name

          .hover_block
            .bg-pattern
            / .svg = inline_svg "svg/plus.svg"

    .catalog-product-wrap
      .catalog-product
        .inner
          .title каталог продукції
          .sub_title Завантажити повний каталог продукції у PDF
          .button-download
            span.svg
              = inline_svg "svg/pdf-icon.svg"
            span завантажити
        .bg-pattern
