.phone_drop_down
  .call-us-container
    p.title 
      |Затетефонуйте нам
      span
        = inline_svg "svg/ic_phone_24px.svg"
      
      
    a.number href="+380 032 456 8776" +380 032 456 8776
    a.number href="+380 032 456 8776" +380 032 456 8776
  
  form.call-form action="/call" method="post" enctype="multipart/form-data"
    .leave-ur-number-container
      .input.input-field
        input#number type="text" required="" name="number"
        label Або вкажіть свій номер:
        span.bar
        = inline_svg "svg/pencil-edit-button.svg"
    .bg-pattern-white
    button.button-download.without-svg type="submit"
      span замовити
    .success
      span = inline_svg "svg/done.svg"
      p Ваша заявка успішно прийнята!
      p Очікуйте дзвінок оператора.