.footer
  .row

    .large-4.medium-4.columns.float-right
      .info-footer
        .title виникли запитання?
        .sub_title У вас виникли певні питання щодо нашої продукції? Наш менеджер допоможе вам їх вирішити
        .input-box
          form.ajax-form action="/call" method="post" enctype="multipart/form-data"
            = inline_svg "svg/ic_phone_24px.svg"
            input#number name="number" type="text" required=""
            button.button-send type="submit"
              span.send відправити
              span.success успішно відправленно

    .large-3.medium-4.columns
      .inner-contacts.desktop
        .bm-logo = inline_svg "svg/logo.svg"
        p ТМ «БУДМІКС» була створена з допомогою кваліфікованих спеціалістів, які здобули багаторічний досвід роботи на провідних підприємствах м. Львова.
        .language-box.footer
          span.ua.active UA
          span.eu ENG
    .xlarge-2.large-3.medium-4.columns.large-push-1.float-left
      .inner-contacts
        .title контакти
        .orange-line
        a.sub_title href="a +38 (093) 789-45-12" 
          span
            |+&nbsp
          |380&nbsp
          span
            |(
          |098
          span
            |)&nbsp
          |644-00-33
        a.sub_title href="a +38 (093) 789-45-12" 
          span
            |+&nbsp
          |380&nbsp
          span
            |(
          |032
          span
            |)&nbsp
          |227-28-28
      .inner-contacts
        .title адреса
        .orange-line
        .sub_title Львівська обл., Пустомитівський р-н, с. Наварія, вул. Львівська, 154/в



  .row
    .medium-8.columns
      .row
        .sub-footer
          
          .medium-6.columns.float-right
            .title ©  ТМ «БУДМІКС» © 2011-2017 Всі права захищені

          .medium-6.columns.float-right
            .inner-footer
              = inline_svg "svg/voronin-logo.svg"
              span
                |Розробленно в студии М.Вороніна в 2017