.header-container
  
  .main-holder

    a.bm-logo href=root_path = inline_svg "svg/logo.svg"
    .language-box
      span.ua.active UA
      span.eu ENG
    .right-part
      .drop_down_menu.drop-down-button
        |каталог продукції
        .svg_arrow = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
      .phone.phone-button = inline_svg "svg/ic_phone_24px.svg"
      
      .hamburger.menu-button.hamburger--collapse
        .hamburger-box
          .hamburger-inner
  
  .baner_burger_menu
    ul
      li.baner_link
        a href=root_path ГОЛОВНА
        .bg-pattern
      li.baner_link
        a href=catalog_path продукція
        .bg-pattern
      li.baner_link
        a href=price_list_page_path прайс лист
        .bg-pattern
      li.baner_link
        a href=about_us_path Про нас
        .bg-pattern
      li.baner_link
        a href=advice_page_path поради
        .bg-pattern
      li.baner_link
        a href=contacts_path контакти
        .bg-pattern

  = render "drop_down_catalog"
  = render "drop_down_phone"