.partners-wrap

  p.component-header
    = @home_page_info.clients_title
  
  .row
    .columns

      .clearfix
        - @clients.each do |client|
          .floated.square
            - if client.image.exists?
              .logo
                - if client.image_extension == "svg"
                  = embedded_svg_from_absolute_path client.image.path
                - else
                  img src=client.image.url
            - if client.name.present?
              p.brand-name
                = client.name
            - if client.website_url.present?
              a href=client.website_url rel="noindex nofollow"
                |website
