- if @advices.try(:any?)
  - @advices.each_with_index do |advice, advice_index|
    .popup_advince data-advice-id=advice.id
      .rectangle-box.popup
        .close-popup = inline_svg "svg/plus.svg"
        .bg-pattern
        .inner
          - advice.tags.each do |tag|
            .tabs
              = tag.name
          .advice-content
            = raw advice.content
          .number-advince порада №#{advice_index + 1}
