.popup_call
  .rectangle-box.popup
    .close-popup = inline_svg "svg/plus.svg"
    .bg-pattern
    form.ajax-form.inner action="/call" method="post" enctype="multipart/form-data"
      .title уточнити ціну
      .sub_title з наш менеджер звяжеться з вами у найблищий час
      .input-box
        = inline_svg "svg/ic_phone_24px.svg"
        input#number type="text" required=""
      button.button-send.popup type="submit"
        span.send відправити
        span.success успішно відправленно

      