.video-wrap
  .video
    iframe allowfullscreen="" class="#{video.video_provider}_video" data-video=video.frame_video_url frameborder="0" src=""
  .image style="background: url('#{video.image.url(:default)}') no-repeat center center;"
  .video-play-button data-video-panel="video_panel_4"
  - if video.name.present?
    .video-name
      = video.name
  - if video.content.present?
    .video-content
      = raw video.content

