doctype html
html
	head
		= seo_tags
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true
		= csrf_meta_tags

    	link rel="icon" type="image/png" href=asset_path("favicon/favicon-16x16.png") sizes="16x16"
	    link rel="icon" type="image/png" href=asset_path("favicon/favicon-32x32.png") sizes="32x32"
	    
	    link rel="icon" type="image/png" href=asset_path("favicon/favicon-96x96.png") sizes="96x96"

	    link rel="icon" type="image/png" href=asset_path("favicon/favicon-196x196.png") sizes="196x196"
	   	link rel="icon" type="image/png" href=asset_path("favicon/favicon-228x228.png") sizes="228x228"

		
		link rel="apple-touch-icon-precomposed" type="image/png" href=asset_path("favicon/favicon-76x76.png") sizes="76x76"
	   	link rel="apple-touch-icon-precomposed" type="image/png" href=asset_path("favicon/favicon-180x180.png") sizes="180x180"


	body class=("devise-controller" if devise_controller?)
		.bg_cover
		= render "header"
		= render "popup_advince"
		= render "popup_call"
		= render "be_mannager_popup"
		.main-wrapper
			- if devise_controller?
				.devise-content
					.row
						.columns.medium-8.large-6.medium-centered
							= yield
			- else
				= yield
		= render "footer"
		- if @google_map
			script src="//maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"
		= javascript_include_tag "application", 'data-turbolinks-track' => true
